.container{
    width:100%;
    max-width: 1440px;
    height: 559px;
    margin: 0 auto;
    position: relative;
}

.gradient{
    height: 100%;
    width: 100%;
    background-image: radial-gradient(80.87% 481.72% at 15.17% 35.76%, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.36) 51.88%, rgba(0, 0, 0, 0.16) 100%); 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.meio-container{
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 30%;
    transform: translate(-50%,-50%);
    text-align: left;
    color:white;
}

.meio-container h1{
    font-size: 56px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700px;
}

.meio-container p{
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400px;
    margin-top: 1rem;
    line-height: 25px;
}

.btn{
    background-color: rgba(143, 84, 46, 1);
    padding: 12px 32px;
    color: #fff;
    border-radius: 8px;
    border: none;
    margin-top:1rem;
    cursor: pointer;
    font-weight: 800;
    font-size: 18px;
    line-height: 33px;
    transition: all 0.3s ease;
}

.btn:hover{
    background: rgba(202, 142, 103, 1);
}

.encontre{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 45px;
    display: none;
}

.encontre h1{
    width: 100%;
    font-size: 20px;
    margin-left: 70px;
}

.encontre img{
    margin-top: 20px;
    width: 60px;
    height: 60px;
}


@media(max-width:999px){

    .meio-container p{
        display:none;
    }

    .meio-container h1{
        font-size: 30px;
        margin-left: 20px;
        width: 100%;
        justify-content: center;
    }

    .container{
        width:100%;
        max-width: 490px;
        height: 241.34px;
        margin: 0 auto;
        position: relative;
    }
    
    .encontre{
        display: flex;
    }

}


