article{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 69, 31, 1);
    
}

.slide-container{
    max-width: 1440px;
    width: 100%;
    padding: 40px 0;
}

.card-image{
    position: relative;
    height: 270px;
    width: 313px;
    border-radius: 5%;
}

.card-image .card-img{
    object-fit: cover;
    border-radius: 5%;

}

.card{
    border-radius: 2%;
    background-color: #FFF;

}

.slide-content{
    margin: 0 40px;
}

.image-content, .card-content{
    padding: 5px 14px;
    flex-direction: column;
    display: flex;;
}

.image-content{
    text-align: center;
    row-gap: 5px;
    display:flex;
}

.card-content{
    text-align: left;
}

.name{
    font-size: 16px;
    font-weight: 700;
    color: rgba(31, 12, 0, 1);
    font-family: "Open Sans", sans-serif;
    line-height: 18px;
}

.about{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(31, 12, 0, 1);
    font-family: sans-serif;
    line-height: 18px;
}

.custom-wrapper{
    flex-direction: row;
    flex-wrap: nowrap;
}

.linha2{
    text-align: center;
    position: relative;
    color: #fff;
    font-family: serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.linha2::after{
    content: "";
    position:absolute;
    display:block;
    left: 1;
    bottom: 0;
    width: 70%;
    height: 2px;
    background-color: rgba(178, 120, 74, 1);
    margin-left: 32px;
}